* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
    background: url("assets/Rustic\ Harmony.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
  }
  h1{
text-shadow: 1px 1px 5px black;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
  }
  .clues{
    background: #3b3b3ba8;
    border-radius: 10px;
    color: #eee;
    width: 300px;
    padding: 20px 0 0 20px;
    text-align: left;
  }
  ol{
    margin: 10px 30px;
  }

  .mensaje-div {
    width: 300px;
    height: 100px;
    font-size: 20px;
    color: #eee;
    margin: 10px;
  }
  #mensaje{
    background: #2b2b2bbb;
    border-radius: 10px;
  }
  
  .casilla {
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .table {
    width: 300px;
  }
  .table td,
  th {
    padding: 0;
  }
  button{
    background: #8f06d4;
    color: #eee;
    box-shadow: 0px 0px 10px solid #111;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 600;
  }
button:hover{
    background: #6b049f;
}